.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: Black;
    text-decoration: none;
    width: 100%;
    box-sizing:border-box;
    display:block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: rgb(0, 113, 189);
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover{
        border-bottom: 4px solid rgb(4, 253, 24);
    }
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: rgb(0, 113, 189);
        border-bottom: 4px solid rgb(4, 253, 24);
        color: white;
    }  
}